.App{
  margin:0 auto;
  font-size: 18px;
  box-shadow: 0px 5px 5px 1px rgba(0,0,0, 0.4);
  box-sizing: border-box;
}

.nav{
  display: flex;
  background: linear-gradient(to left,rgba(222,222,123,0.5),rgba(122,222,111),rgba(121,127,234,.5));
  padding: 3px;
  justify-content: space-between;
} 
.nav h1{
  margin-left: 10px;
color: rgb(235, 7, 102);
}

.nav-list{
  display: flex;
  padding: 7px;
  flex: .3 1 200px;
  margin:auto 0;
  justify-content: space-evenly;
  margin-right: 20px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
}

.nav-item li a{
  margin-left: 10px;
}

.nav-item a{
  text-decoration: none;
}

/* halaman profile */
.section-1{
  display: flex;
  gap: 60px;
  font-weight: 300;
  text-align: center;
  justify-content: space-evenly;
}

.section-satu{
  margin: auto 0;
  width: 500px;
}

.section-satu .name{
  color:#26cf31 ;
}

.section-article{
  line-height: 27px;
  text-align: justify;
  color: grey;
  font-weight: 700;
  font-family:  Georgia, Times, 'Times New Roman', serif;
}

.section-article .major{
  color :green
}

.section-gambar{
  margin-top: 30px;

}
.section-gambar img{
  z-index: 9999;
}
.section-gambar span .blob{
  position:absolute;
  right: 90px;
z-index: -10;
scale: 1.4;
}





 /* halaman my project */
.section-2{
  position: relative;
  margin-bottom: 0;
}
.section-2-project{
  background-color: aqua;
  margin-top: -40px;

}

.section-2-project h1 ,.section-2-project-judul{
  text-align: center;
  margin-bottom: 30px;
}
.section-2-project-gambar{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
    justify-items: center;
    gap: 60px;
  align-items: center;
}
.section-2-project-gambar .card{
  width: 300px;
  background: rgb(232, 233, 186);
  border-radius: 5px ;
}

.card-skills {
  background: white;
  width: 300px;
}

.card .deskription ,
.card-skills .deskription{
  font-size: 15px;
  text-align: justify;
  padding: 20px;
  text-align: center;
  font-weight: 100;
}

.card img ,
.card-skills img{
  width: 100%;
  border-radius: 5px ;
}


/* halaman blog */
.section{
  text-align: center;
  width: 768px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.4);
}

.section .articleDeskription{
  font-size:16px;
}
.article{
  font-size: 14px;
}

.articleTitle  a{
  font-size: 16px;
  text-align: justify;
  text-decoration: none;
  line-height: 16px;
  color: black;
}

.articleTitle a:hover{
  color: red;
}

.articleSummary{
  text-align: justify;
  padding:0 7px 0 7px;
}

.articleUrl a:hover{
  color: greenyellow;
}

.articleImage{
  width: 750px;
  height: 400px;
} 

/* halaman footer */
.footer{
  background-color: black;
  color: white;
  height: 55px;
  margin-bottom: 0;
  line-height: 55px;

}

.footer span{
  margin: 0 auto;
  text-align: center;
  display: block;
}

/* halaman blog detail */




/* media hp mirinh */
@media screen and (max-width:459px)  and (min-width:315px){

  .App{
    font-size: 12px;
    box-shadow: 0px 5px 5px 10px rgba(0,0,0, 0.4);
    box-sizing: border-box;
  }

  .nav h1{
    font-size: 13px;
  }
  .App .nav{
    display: flex;
  color: rgb(15, 216, 99);
  }

    .nav-item{
      display: flex;
      flex: .5 auto;
      width:calc(100%/4);
      justify-content: space-between;
      
    }

    .nav-item a{
      text-decoration: none;
    }

    /* halaman profile */
    .section-1{
      margin: auto;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      gap: 0;
    }

    .section-gambar{
      order: 1;
      margin: 0;
    }

    .section-gambar span .blob{
      width: 300px;
     right: -1px;
     position: absolute;
     scale: 1.5;
    }


    .section-article{
      padding: 0 40px;
    }

    .section-title{
      font-size:14px;
      order: 2;
    }

    .section-description{
      order: 3;
        font-size: 14px;
        text-align: justify;
    }


    .section-2-project-gambar{
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .section-2-project-gambar .card {
      margin-bottom: 20px;
    }
   
    
    /* halaman blog */

    /* .article{
      font-size: 14px;
    }

    .article-title  a{
      font-size: 16px;
      text-align: justify;
      text-decoration: none;
      line-height: 20px;
      color: black;
    }

    .article-title a:hover{
      color: red;
    }

    .article-summary{
      text-align: justify;
    }

    .article-image{
      width: 100%;
      height: 200px;;
    } */

    /* halaman blog */
    .section{
      width: 300px;
      text-align: center;
      margin: 0 auto;
      box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.4);
    }
  
    .articleImage{
      width: 295px;
      height: 200px;
    } 

    .section .articleDeskription{
      font-size:13px;
    }

    .articleTitle a {
      padding: 0 7px 7px 7px;
    }
}

@media screen and (max-width: 600px) and (min-width:460px){
   .App{
    font-size: 12px;
    box-sizing: border-box;
   }
   /* halaman profile */
   .section-1{
    display: flex;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 0;
   }

   .section-article{
    padding: 0 40px;
   }
   .section-gambar span .blob{
    position:absolute;
  z-index: -10;
  right:12px;
  scale: 1.1;
  }

   .section-satu p:nth-child(2){
    width: 500px;
    text-align: justify;
   }
   .section-description{
     text-align: justify;
   }

   .section-gambar{
    margin:0;
   }

   .section-2-project-gambar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card-skills{
    margin-bottom: 20px;
  }
  /* halaman blog */
  .section{
    text-align: center;
    width: 415px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.4);
  }

  .articleImage{
    width: 400px;
    height: 200px;
  } 
  .section .articleDeskription{
    font-size:14px;
  }

  .articleTitle,.articleTitle a {
    font-size: 14px;
  }

}

@media screen and (max-width: 900px) and (min-width:601px) {
  .App{
   font-size: 16px;
  }

  .nav h1{
    font-size:16px
  }

  .section-2-project-gambar{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-items: center;
  }

  .section-2-project-gambar .card {
    margin-bottom: 20px;
  }
  .section .articleDeskription{
    font-size:15px;
  }
  /* halaman blog */
  .section{
    text-align: center;
    width: 550px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.4);
  }
  
  .articleImage{
    width: 540px;
    height: 400px;
  } 

  .articleTitle a{
    padding: 0 7px 7px 0;
  }

  /* halaman profile */
  /* halaman profile */
   .section-1{
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: space-around;
    margin-top: 10px;
    gap: 0;
   }

   .section-article{
    padding: 0 40px;
   }
   .section-gambar span .blob{
    position:absolute;
  z-index: -10;
  right:-70px;
  scale: 1.1;
  }
}


/* media tablet 1250 - 901*/
@media screen and (max-width: 1250px) and (min-width:901px) {
  .section-1{
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: space-around;
    margin-top: 10px;
    gap: 0;
   }

   .section-article{
    padding: 0 40px;
   }
   .section-gambar span .blob{
    position:absolute;
  z-index: -10;
  right:-50px;
  scale: 1.1;
  }
}